.page-heading[data-v-1fb5614c]{font-size:28px;font-weight:700;margin:0 0 32px;color:#1a1a1a}.empty-state[data-v-1fb5614c]{padding:60px 0}.pagination-wrapper[data-v-1fb5614c]{display:flex;justify-content:center;padding:32px 0}
